<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>Department Form</title>
</head>
<body>
    <h1>Department Form</h1>
    <form th:action="@{/saveDepartment}" method="post" th:object="${department}">
        <div>
            <label for="name">Department Name:</label>
            <input type="text" id="name" th:field="*{departmentName}" required/>
        </div>
        <button type="submit">Save</button>
    </form>
</body>
</html>
